<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Chats</title>
</head>

<body>
    <header class="chat-header">
        <div class="voltar-chat">
            <img class="img-chat" src="{{ url_for('static', filename='assets/seta-esq-icon.png') }}" alt="voltar">
            <a class="seta-chat" href="{{ url_for('home') }}">Voltar</a>
        </div>
        <h1>Chats</h1>
    </header>
    <main class="chat">
        <div class="busca campo">
            <label for="buscar" class="visually-hidden">Buscar vagas</label>
            <input type="text" id="buscar" placeholder="Buscar...">
            <img src="{{ url_for('static', filename='assets/lupa-icon.png') }}" alt="lupa">
        </div>

        <section class="lista-mensagens">

            <div class="chats" onclick="location.href='{{ url_for('chat_mensagem') }}'" style="cursor: pointer;">
                <div class="cont">
                    <h3 class="nome-chat">Lana Del Rey</h3>
                    <time class="hora-chat" id="relogio" datetime="">07/07 23:05</time>
                </div>
                <div class="conteudo-chat">
                    <p class="mensagem-chat">
                        Descricao da vaga: É um facto estabelecido de que um leitor é distraído pelo conteúdo legível.
                    </p>
                    <span>12</span>
                </div>
            </div>

        </section>
    </main>


    <footer>
        <nav class="icons">
            <a href="{{ url_for('home') }}"><button aria-label="Inicio"><img src="{{ url_for('static', filename='assets/casa-icon.png') }}" alt="home"></button></a>
            <a href="{{ url_for('mais_opcoes') }}"><button aria-label="Mais Opções"><img src="{{ url_for('static', filename='assets/opcoes-icon.png') }}" alt="opcoes"></button></a>
            <a href="{{ url_for('perfil_freelancer') }}"><button aria-label="Perfil"><img src="{{ url_for('static', filename='assets/perfil-icon.png') }}" alt="perfil"></button></a>
        </nav>
    </footer>
</body>

</html>