<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Cadastro Contratante</title>
</head>
<body>
    <div class="tela-centralizada">
            <header>
        <h1 class="registro">Registrar-se como <br> Contratante</h1>
    </header>

    <main class="form-contratante">
        <form action="{{ url_for('registrar_contratante')}}" method="post">
            <div class="campo">
                <label for="nome-completo" class="visually-hidden">razao-social</label>
                <input type="text" id="nome-completo" name="nome" placeholder="Razão Social" required>
            </div>

            <div class="campo">
                <label for="cnpj" class="visually-hidden">cnpj</label>
                <input type="number" id="cnpj" name="cnpj" placeholder="CNPJ" required>
            </div>

            <div class="campo">
                <label for="e-mail" class="visually-hidden">E-mail</label>
                <input type="email" id="e-mail" name="email" placeholder="E-mail" required>
            </div>

            <div class="campo">
                <label for="senha" class="visually-hidden">senha</label>
                <input type="password" id="senha" name="senha" placeholder="Senha" required>
            </div>

            <div class="campo">
                <label for="repita-senha" class="visually-hidden">repita-senha</label>
                <input type="password" id="repita-senha" name="repita-senha" placeholder="Repita a senha" required>
            </div>

            <button class="botao-cheio final-cadastro">FINALIZAR CADASTRO</button>
        </form>
    </main>
    </div>
</body>
</html>