<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Cadastro Contratante</title>
</head>

<body>
    <header class="minhas-candida opcoes">
        <div class="voltar">
            <img class="img-opcoes" src="{{ url_for('static', filename='assets/seta-esq-icon.png') }}" alt="voltar">
            <a class="seta-opcoes" href="">Voltar</a>
        </div>
        <h1>EDITAR VAGA</h1>
    </header>

    <main>
        <form action="" method="post">
            <div class="campos">
                <label for="nome-vaga" class="visually-hidden">Nome da vaga</label>
                <input type="text" name="titulo" placeholder="Titulo" value="{{ vaga.titulo }}" required>
            </div>

            <div class="campos">
                <label for="valor-pago" class="visually-hidden">Valor Pago</label>
                <input type="number" name="remuneracao" placeholder="Valor pago" value="{{ vaga.remuneracao }}" required>
            </div>

            <div class="campos">
                <label for="descricao" class="visually-hidden">descricao</label>
                <textarea class="desc" name="descricao" cols="40" rows="10" placeholder="Descrição">{{ vaga.descricao }}</textarea>
            </div>

            <div class="campos">
                <label for="status-vaga" class="visually-hidden">Status da vaga</label>
                <select name="status" id="status-vaga" class="input-padrao" required>
                    <option value="" disabled selected>Selecione o status</option>
                    <option value="aberta" {% if vaga.status == 'aberta' %}selected{% endif %}>Aberta</option>
                    <option value="em_analise" {% if vaga.status == 'em_analise' %}selected{% endif %}>Em Análise</option>
                    <option value="fechada" {% if vaga.status == 'fechada' %}selected{% endif %}>Fechada / Preenchida</option>
                    <option value="cancelada" {% if vaga.status == 'cancelada' %}selected{% endif %}>Cancelada</option>
                </select>
            </div>


            <div class="botoes-edit">
                <a href="{{ url_for('excluir_vaga', id=vaga.id)}}" type="button" class="botao-cheio excluir-vaga">EXCLUIR VAGA</a>
                <button type="submit" class="botao-cheio salvar-vaga">SALVAR E PUBLICAR</button>
            </div>
        </form>
    </main>
    </div>
    <footer>
            <nav class="icons">
                <a href="{{ url_for('mostrar_vaga_tela')}}"><button aria-label="Inicio"><img src="{{ url_for('static', filename='assets/casa-icon.png') }}" alt="home"></button></a>
                <a href="#"><button aria-label="Mais Opções"><img src="{{ url_for('static', filename='assets/opcoes-icon.png') }}" alt="opcoes"></button></a>
                <a href="{{ url_for('botao_perfil')}}"><button aria-label="Perfil"><img src="{{ url_for('static', filename='assets/perfil-icon.png') }}" alt="perfil"></button></a>
            </nav>
        </footer>
</body>

</html>