<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Suporte</title>
</head>
<body>
    <header class="opcoes">
        <div class="voltar">
            <img class="img-opcoes" src="{{ url_for('static', filename='assets/seta-esq-icon.png') }}" alt="voltar">
            <a class="seta-opcoes" href="{{ url_for('home') }}">Voltar</a>
        </div>
        <h1>SUPORTE</h1>
    </header>
    <main class="suporte">
        <form class="form-suporte" action="" method="post">
            <label for="nome">Nome</label>
            <input type="text" id="nome" placeholder="Digite o seu nome..." required>
            
            <label for="sobrenome">Sobrenome</label>
            <input type="text" id="sobrenome" placeholder="Digite o seu sobrenome..." required>
            
            <label for="email">E-mail</label>
            <input type="e-mail" id="email" placeholder="Digite o seu e-mail..." required>
            
            <label for="mensagem">Mensagem</label>
            <textarea name="" id="mensagem" cols="30" rows="4" placeholder="Explique o seu problema com detalhes..." required></textarea>
        </form>
        <button class="botao-suporte" type="submit">ENVIAR</button>
    </main>
    
    <div class="confirmacao-envio">
        <div class="conteudo-envio">
            <p>
            Sua mensagem foi enviada! Nosso time entrará em contato com você por e-mail em até 24h.
            <button type="submit" class="botao-suporte">Fechar</button>
        </p>
        </div>
    </div>
</body>
</html>
