<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Minhas Candidaturas</title>
</head>

<body>
    <header class="minhas-candida opcoes">
        <div class="voltar">
            <img class="img-opcoes" src="{{ url_for('static', filename='assets/seta-esq-icon.png') }}" alt="voltar">
            <a class="seta-opcoes" href="{{ url_for('home') }}">Voltar</a>
        </div>
        <h1>MINHAS CANDIDATURAS:</h1>
        <p class="candidaturas-p">x candidaturas</p>
    </header>
    <main>
        <div class="minhas-candida vagas">
            <h3 class="titulo">Assistente Administrativo</h3>
            <p class="descricao">
                Descricao da vaga: É um facto estabelecido de que um leitor é distraído pelo conteúdo legível.
                É um facto estabelecido de que um leitor é distraído pelo conteúdo legível.
            </p>
            <p class="localizacao-vaga">Belo Horizonte, MG</p>
        </div>
    </main>

    <footer>
        <nav class="icons">
            <a href="{{ url_for('home') }}"><button aria-label="Inicio"><img src="{{ url_for('static', filename='assets/casa-icon.png') }}" alt="home"></button></a>
            <a href="{{ url_for('mais_opcoes') }}"><button aria-label="Mais Opções"><img src="{{ url_for('static', filename='assets/opcoes-icon.png') }}" alt="opcoes"></button></a>
            <a href="{{ url_for('perfil_freelancer') }}"><button aria-label="Perfil"><img src="{{ url_for('static', filename='assets/perfil-icon.png') }}" alt="perfil"></button></a>
        </nav>
    </footer>
</body>

</html>