@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE e Edge antigo */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Edge e Safari */
}

.tela-centralizada {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visually-hidden { /* Não usar none porque muitos leitores de tela ignoram o display: none */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.logotipo-login img {
    width: 280px;
    margin-bottom: 50px;
}

.campo {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border-radius: 12px;
    background-color: #CADFE2;
    margin-bottom: 20px;
}

.campo img {
    width: 20px;
    height: 20px;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 250px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.campo input::placeholder {
    font-size: 16px;
    color: #000;
    
}

.esquecer-senha {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
    text-decoration: none;
    font-weight: 500;
    color: #000;
    
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    transition: 0.5s;
}

.botao-cheio {
    background-color: #4F959D; 
    padding: 10px 20px;
    min-width: 100%;
    margin: 20px 0px 10px 0;
    color: #fff;
}

.botao-cheio:hover {
    cursor: pointer;
    background-color: #397177;

}

.criar-conta,
.criar-conta a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 600;
}

/* ============ CADASTRO TIPO ============ */

h1 {
    font-weight: 500;
    text-align: center;
}

/* ============ CADASTRO FREELANCER ============ */

.registro {
    margin-bottom: 50px;
}

.final-cadastro {
    margin-top: 30px;
}


/* ============ RESET SENHA ============ */
.logotipo-reset img {
    width: 250px;
}

.reset-senha {
    display: flex;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e6dbdb ;
    flex-direction: column;
}

.botoes-senha {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    min-width: 300px;
}

.button-cancelar {
    background-color: #b5d1d4;
    color: #000;
    font-weight: 400;
    min-width: auto;
    transition: 0.5s;
}
.button-resetar {
    font-weight: 500;
}
.button-cancelar, .button-resetar {
    min-width: auto;
    margin-top: 20px;
    
}

.cancelar {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.input-reset {
    border: 1px solid #e6dbdb;
    padding: 13px;
    border-radius: 10px;
    margin-top: 10px;
}

.button-cancelar:hover {
    color: #fff;
}

/* ============ TELA INICIAL ============ */

.container {
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.tela-inicial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-tela-inicial img {
    width: 70px;
}

.notificacoes img {
    width: 30px;
}

.notificacoes {
    position: relative;
    background-color: transparent;
}

.badge {
    position: absolute; /* fixou o item */
    top: -8px;
    right: -8px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
}

.notificacoes {
    background-color: transparent;
    position: relative;
}

.busca input {
    flex: 1;
    min-width: 0;
}

.localizacao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.localizacao img {
    margin-right: 10px;
}

.lista-vagas {
    padding-bottom: 100px;
}

.lista-vagas-topo {
    display: flex;
    justify-content: space-between;
    margin: 0 5px 4px;
    margin-top: 20px;
}

.contador {
    font-size: 13px;
    margin-top: 10px;
    margin: 20px 10px 4px;
}

.filtro button {
    padding: 5px 20px;
    font-weight: 400;
    border: 1px solid #c4c4c4;
    background-color: transparent;
}

.filtro button:hover {
    cursor: pointer;
}

.button-filtro {
    margin-left: 8px;
    width: 15px;
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #317981;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;

    box-shadow: 10px 16px 31px -17px rgba(0,0,0,0.8);
    -webkit-box-shadow: 10px 16px 31px -17px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 16px 31px -17px rgba(0,0,0,0.8);
}

.vagas:hover {
    cursor: pointer;
}


.vagas h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.descricao {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

.localizacao-vaga {
    font-size: 13px;
}

footer {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 10px;

    background-color: #000;
    border-radius: 20px;
    padding: 15px;
    z-index: 1000;

    box-shadow: 2px 71px 14px 63px rgba(255,255,255,1);
    -webkit-box-shadow: 2px 71px 14px 63px rgba(255,255,255,1);
    -moz-box-shadow: 2px 71px 14px 63px rgba(255,255,255,1);
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}
.icons img {
    width: 30px;
}

.icons button {
    background-color: transparent;
}

.icons button:hover {
    cursor: pointer;
}


/* ============ DETALHES DA VAGA ============ */

.detalhes-vaga h1 {
    display: flex;
    margin: 70px 0 0 25px;
    font-size: 18px;
    margin-bottom: 20px;
}

.valor {
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
    background-color: #4F959D;
}

.valor span {
    font-weight: 400;
}

.data-publi {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.estrela {
    font-size: 15px;
    color: #ccc;
}

.estrela.ativa {
    color: gold;
}

.section-avaliacao {
    background-color: #679CA2;
    margin-bottom: 5rem;
}

.sec-detalhes h2 {
    font-size: 21px;
}

.sec-detalhes .autor {
    font-size: 14px;
    color: #ccc;
}

.sec-detalhes .descricao {
    margin-top: 10px;
    font-size: 16px;
} 

.titulo-avaliacao {
    font-size: 19px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-weight: 500;
}

.section-avaliacao .nome-avaliador {
    font-size: 16px;
    font-weight: 500;
}

.section-avaliacao .desc-avaliador {

    font-size: 15px;
}

.desc-avaliador {
    margin-bottom: 20px;
}

.container-avaliacao {
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px 20px;
}

.button-candidatar  {
    margin-bottom: 30px;
}

.ver-avaliacoes {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin: 0 8px 5px;
    transition: 0.2s;
}

.ver-avaliacoes:hover {
    cursor: pointer;
    font-weight: 500;
}

.realizacao-cand {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0,0,0,0.4); /* camada cinza translúcida */
    backdrop-filter: blur(5px); /* desfoca o conteúdo atrás */
    z-index: 999; /* garante que fique acima de tudo */
}

.conteudo-cand {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border-radius: 20px;
    padding: 20px;
    background-color: #D9D9D9;
}

.x-icon {
    width: 25px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.x-icon:hover {
    cursor: pointer;
}

.realizacao-cand h2 {
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.realizacao-cand button {
    background-color: #4F959D;
    color: #fff;
    padding: 10px 20px;
}
.realizacao-cand button:hover {
    cursor: pointer;
    background-color: #397177;
}

/* ============ TELA MAIS OPÇÕES ============ */

.opcoes {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 1.5rem;
}

.opcoes img {
    width: 24px;
}

.voltar {
    display: flex;
    align-items: center;   /* centraliza verticalmente */
    gap: 6px;              /* espaço entre seta e texto */
    font-weight: 500;
    color: #333;
}

.seta-opcoes {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.opcoes h1 {
    display: flex;
    align-items: end;
    margin-top: 2rem;
    font-weight: 500;
}

.nav-opcoes li a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.nav-opcoes li {
    list-style: none;
    margin: 10px 20px;
    background-color: #317981;
    padding: 10px;
    border-radius: 12px;
}

.nav-opcoes li:hover {
    cursor: pointer;
    background-color: #397177;
}


/* ============ TELA NOTIFICAÇÕES ============ */

.notificacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #317981;
    margin: 20px;
    padding: 18px;
    border-radius: 20px;

    box-shadow: 10px 16px 31px -17px rgba(0,0,0,0.8);
    -webkit-box-shadow: 10px 16px 31px -17px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 16px 31px -17px rgba(0,0,0,0.8);
}

.notificacoes h2 {
    font-size: 18px;
    font-weight: 500;
}

.notificacoes p {
    font-size: 14px;
}

.data-time {
    color: #ccc;
    font-size: 14px;
}

.notificacoes:hover {
    cursor: pointer;
    background-color: #397177;
}

.img-opcoes:hover {
    cursor: pointer;
}
